<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let pokemon of pokemons">
        <ion-card>
          <img [src]="pokemon.image" [alt]="pokemon.name" />

          <ion-card-header>
            <ion-card-title class="ion-text-capitalize">
              {{ pokemon.name }}
              <ion-icon [name]="isFavorite(pokemon.name) ? 'heart' : 'heart-outline'"
                (click)="toggleFavorite(pokemon.name)" 
                style="cursor: pointer; margin-left: 8px;">
              </ion-icon>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="ion-justify-content-between ion-padding">
    <ion-button (click)="prevPage()" [disabled]="offset === 0">Anterior</ion-button>
    <ion-button (click)="nextPage()">Próxima</ion-button>
  </ion-row>
</ion-content>